.coin-container {
  display: flex;
  justify-content: center;
}

.exchange_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #2e2e2e;
  width: 1000px;
  padding: 0rem 2rem;
}
.exchange_row:hover {
  background: #171718;
}
.exchange {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.exchange h2 {
  font-size: 16px;
  width: 250px;
}

.exchange img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

.exchange_data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}
.exchange_country {
  width: 200px;
}

.volume {
  width: 10rem;
}
